.page-card {
  max-width: 900px;
  margin: auto;
  padding: 25px 30px;
  border-radius: 12px;
  height: auto;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
}

/* Responsive Grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Full width field (address) */
.full-width {
  grid-column: 1 / -1;
}

mat-form-field {
  width: 100%;
  min-width: 200px;
}

.mat-option::-webkit-scrollbar {
  width: 10px;
}

.mat-option::-webkit-scrollbar-track {
  background: transparent;
}

.mat-option::-webkit-scrollbar-thumb {
  background: #b6c4ec;
  border-radius: 1px;
}

.mat-option::-webkit-scrollbar-thumb:hover {
  background: #8ea4d9;
}

// -----------------------------------------
// .spin-icon {
//   animation: rotate 0.8s linear infinite;
//   color: #007bff;
// }

// /* Smooth hover effect */
// .id-field .generate-btn:hover:not(:disabled) {
//   background: transparent;
// }

// /* Disabled look */
// .id-field .generate-btn:disabled {
//   opacity: 0.4;
//   cursor: not-allowed;
// }

/* Keyframes for spinning */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mobile view → 1 column */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .page-card {
    padding: 20px;
  }
}

.btn-row {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
