.user-list-container {
  padding: 1rem;
  background: transparent;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.4rem;
}

table{
  width: 100%;
}

.table-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 8px;
  background: transparent;
  width: 100%;
  max-height: 400px;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.page-card {
  max-width: 900px;
  margin: auto;
  padding: 5px 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
}

/* Responsive Grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Full width field (address) */
.full-width {
  grid-column: 1 / -1;
}

// mat-form-field {
//   width: 100%;
//   min-width: 200px;
// }