<div class="customer-list-container">
  <div class="top-bar">
    <mat-form-field appearance="outline">
      <mat-label>Search Customer</mat-label>
      <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Search by name, email, id">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-fab extended color="primary" (click)="addCustomer()">
      <mat-icon>add</mat-icon><b>Add Customer</b>
    </button>
  </div>

  <mat-card>
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- CUSTOMER ID -->
        <!-- <ng-container matColumnDef="customerId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</th>
          <td mat-cell *matCellDef="let row">{{ row.customerId }}</td>
        </ng-container> -->

        <!--/ NAME -->
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
          <td mat-cell *matCellDef="let row">{{ row.customerName }}</td>
        </ng-container>

        <!--/ MOBILE NO -->
        <ng-container matColumnDef="mobileNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</th>
          <td mat-cell *matCellDef="let row">{{ row.mobileNo }}</td>
        </ng-container>

        <!--/ EMAIL -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>

        <!--/ ADDRESS -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell class="ellipsis" *matCellDef="let row">{{ row.address }}</td>
        </ng-container>

        <!--/ CITY -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
          <td mat-cell *matCellDef="let row">{{ row.city }}</td>
        </ng-container>

        <!--/ STATE -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell *matCellDef="let row">{{ row.state }}</td>
        </ng-container>

        <!--/ GSTIN -->
        <ng-container matColumnDef="gstin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>GSTIN</th>
          <td mat-cell *matCellDef="let row">{{ row.gstin | uppercase}}</td>
        </ng-container>

        <!--/ CREATED DATE -->
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
          <td mat-cell *matCellDef="let row">{{ row.createdDate | date}}</td>
        </ng-container>

        <!--/ UPDATED DATE -->
        <ng-container matColumnDef="updatedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated Date</th>
          <td mat-cell *matCellDef="let row">{{ row.updatedDate | date}}</td>
        </ng-container>
        
        <!--/ ISACTIVE -->
        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Active status</th>
          <td mat-cell *matCellDef="let row">{{ row.isActive | booleanText}}</td>
        </ng-container>

        <!-- ACTIONS -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editCustomer(row)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="deleteCustomer(row)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <!-- REQUIRED ROW TAGS (MOST IMPORTANT) -->
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data</td>
        </tr>


      </table>
    </div>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>


</div>