<mat-card class="page-card mat-elevation-z4">
    <h2 class="title">Machine Form</h2>

    <form [formGroup]="machineForm" class="form-grid">

        <!-- Customer Name -->
        <mat-form-field >
            <mat-label>Machine Name</mat-label>
            <input matInput formControlName="machineName">
            <mat-error *ngIf="machineForm.get('machineName')?.hasError('required') && machineForm.get('machineName')?.touched">
                Enter Machine Name
            </mat-error>
        </mat-form-field>

        <!-- Mobile -->
        <mat-form-field >
            <mat-label>Mobile Number</mat-label>
            <input matInput maxlength="10" formControlName="mobileNo">
            <mat-error
                *ngIf="machineForm.get('mobileNo')?.hasError('required') && machineForm.get('mobileNo')?.touched">
                Enter valid mobile number
            </mat-error>
            <mat-error
                *ngIf="machineForm.get('mobileNo')?.hasError('pattern') && machineForm.get('mobileNo')?.touched">
                Enter valid 10-digit mobile number
            </mat-error>
        </mat-form-field>

        <!-- City -->
        <mat-form-field >
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
                <mat-option [value]="null">None</mat-option>
                <mat-option class="mat-option" *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Address full width -->
        <mat-form-field  class="full-width">
            <mat-label>Address</mat-label>
            <textarea matInput rows="2" formControlName="address"></textarea>
        </mat-form-field>

        <!-- State -->
        <mat-form-field >
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option [value]="null">None</mat-option>
                <mat-option class="mat-option" *ngFor="let state of states" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- GSTIN -->
        <mat-form-field >
            <mat-label>GSTIN</mat-label>
            <input matInput formControlName="gstIn">
        </mat-form-field>

        <!-- Active -->
        <mat-form-field >
            <mat-label>Is Active?</mat-label>
            <mat-select formControlName="isActive">
                <mat-option [value]="true">Active</mat-option>
                <mat-option [value]="false">Inactive</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Created Date -->
        <mat-form-field >
            <mat-label>Created Date</mat-label>
            <input matInput [matDatepicker]="cd" formControlName="createdDate">
            <mat-datepicker-toggle matSuffix [for]="cd"></mat-datepicker-toggle>
            <mat-datepicker #cd></mat-datepicker>
        </mat-form-field>

        <!-- Updated Date -->
        <mat-form-field>
            <mat-label>Updated Date</mat-label>
            <input matInput [matDatepicker]="ud" formControlName="updatedDate">
            <mat-datepicker-toggle matSuffix [for]="ud"></mat-datepicker-toggle>
            <mat-datepicker #ud></mat-datepicker>
        </mat-form-field>

    </form>

    <div class="btn-row">
        <button mat-flat-button color="primary" (click)="saveForm()" [disabled]="machineForm.invalid">Save</button>
        <button mat-stroked-button color="warn">Cancel</button>
    </div>

</mat-card>