<div class="login-layout">
    <div class="login-container">
        <mat-card class="login-card">

            <mat-card-header class="card-header">
                <mat-card-title class="card-title">Login</mat-card-title>
                <mat-card-subtitle class="card-subtitle">Welcome! Please sign in.</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="loginForm">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" placeholder="Enter username" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hidePassword ? 'text' : 'password'" matInput placeholder="password"
                            formControlName="password" type="password" />

                        <mat-icon class="bottom" matIconSuffix (click)="showHidePassword()">
                            {{ hidePassword ? "visibility_off" : "visibility" }}
                        </mat-icon>
                    </mat-form-field>

                    <div class="button-wrapper">
                        <button mat-flat-button extended color="primary" class="login-btn">
                            <mat-icon>login</mat-icon>
                            Login
                        </button>
                    </div>

                </form>
            </mat-card-content>

        </mat-card>
    </div>


</div>