/* CARD */
.page-card {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
}

/* GRID FORM */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

mat-form-field {
  width: 100%;
}
