/* FULL PAGE STRUCTURE */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f7f9ff;
  overflow: hidden;
}

/* TOP NAVBAR */
.top-navbar {
  height: 64px;
  display: flex;
  align-items: center;
  background: #ffffff;
  color: #000;
  padding: 0 20px;
  border-bottom: 1px solid #e5e9f5;
  z-index: 1000;
}

.title {
  font-size: 20px;
  font-weight: 600;
}
.spacer {
  flex: 1;
}

.sidenav-container {
  flex: 1;
  display: flex;
  height: calc(100vh - 64px);
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 18rem;
  background: #c8d7ff;
  border-right: 1px solid #8ba3d3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #b3c1e6;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #8ea4d9;
}


.sidebar-header {
  text-align: center;
  padding: 20px 0 10px 0;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* SIDEBAR MENU SCROLLING */
.menu-accordion {
  overflow-y: auto;
  flex: 1;
  padding: 0 10px 20px 10px;
}

/* EXPANSION PANEL CLEAN LOOK */
.menu-accordion mat-expansion-panel {
  background: transparent;
  border-radius: 1rem;
  margin: 5px 0;
  box-shadow: none !important;
}

mat-expansion-panel-header {
  border-radius: 8px;
}

mat-expansion-panel-header:hover {
  background: rgba(255, 255, 255, 0.7);
}

mat-expansion-panel-header mat-icon {
  margin-right: 8px;
}

/* ACTIVE ROUTE LINK */
mat-list.active-link {
  background: #e3eaff;
  color: #2962ff;
  border-radius: 10px;
  font-weight: 600;
}

/* MAIN CONTENT AREA */
.content-area {
  flex: 1;
  background: #f5f7fb;
  padding: 2rem 2rem;
  overflow-y: auto; /* ONLY main content scrolls */
  // display: flex;
  // justify-content:start;
  // align-items:start;
}

.content-area::-webkit-scrollbar {
  width: 10px;
}

.content-area::-webkit-scrollbar-track {
  background: transparent;
}

.content-area::-webkit-scrollbar-thumb {
  background: #b6c4ec;
  border-radius: 1px;
}

.content-area::-webkit-scrollbar-thumb:hover {
  background: #8ea4d9;
}